@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans antialiased;
}

.glass-card {
  @apply bg-white/40 backdrop-blur-lg border border-white/20 rounded-xl shadow-xl;
}